@import 'bootstrap';

@import "ember-modal-dialog/ember-modal-structure";
@import "ember-modal-dialog/ember-modal-appearance";


body {
  background-color: rgb(183, 184, 185);
  min-width: fit-content;
  padding: 20px;
}
h1 {
  text-align: center;
}

#button-addon2 {
  background-color: #20b720;
  color: black;
}

