<input
  id='input'
  type='text'
  placeholder='ENTER YOUR TASK'
  value={{this.newTask}}
  {{on 'input' this.onPropertyChange}}
/>
<button
  id='submit'
  type='button'
  {{on 'click' (fn this.onSave @task.description)}}
>
  ADD TASK
</button>